body {
    margin: 0;
    background: #83b5cc;
    min-height: 100%;
}

.main-container {
    margin: 0 auto;
    margin-top: 1em;
    background: lightgoldenrodyellow;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
    width: 50%;
    height: 71vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px gray;
}

.clear-btn {
    font-size: 14px;
    padding: 8px 20px;
    background: rgba(0,0,0,0);
    border: 1px solid red;
    border-radius: 20px;
    color: red;
    margin-right: 1.6em;
    cursor: pointer;
}

.list-item-container {
    overflow-y: auto;
    height: 60vh;
    scrollbar-gutter: auto;
}

.list-item-container::-webkit-scrollbar {
    width: 6px;
}

/* .list-item-container::-webkit-scrollbar-track {
} */

.list-item-container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(0,0,0,0.3)
}

.greeting {
    text-align: center;
    margin-top: 2em;
    font-size: 34px;
    font-weight: 500;
    color: black;
}

.date {
    padding: 1em;
    font-size: 22px;
}

.date-decoration {
    font-size: 21.5px;
}